* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    box-sizing: border-box;
}

body {
    background-color: #808080;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 25px;
    margin: auto;
    background-color: #faebd7;
    box-shadow:0px 0px 20px 5px #d3d3d3;
}

.header {
  border-radius: 8px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#cd853f;
  color: #ffffff;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    align-items: center;
}

button {
    width: 100%;
    margin: 4px 0px;
    padding: 7px 0px;
    border: none;
    border-radius: 5px;
    background-color:#cd853f;
    color: #ffffff;
}

button:hover {
    background-color:#deb887;
}

.main {
    border: 1px solid #cd853f;
    border-radius: 5px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
}

.result {
    border: 1px solid #cd853f;
    border-radius: 5px;
    color: #ffffff;
    min-height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    gap: 10px;
}

.dis-user {
    border: 1px solid #cd853f;
    border-radius: 5px;
    min-height: 80px;
    width: 50%;
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_user, .display_comp {
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.final {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #cd853f;
    border-radius: 8px;
    padding: 5px;
}

.box {
    display: flex;
    gap: 20px;
}

.box1, .box2, .box3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #cd853f;
    color: #ffffff;
    height: 45px;
    padding: 4px 20px;
}

.reset-game {
    margin: 40px 0px;
    padding: 10px 0px;
    background-color: #ff4500;
}

.reset-game:hover{
    background-color:#ff0000;
}

.won {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #4CAF50;
    display: none;
}

.lose {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ff0000;
    display: none;
}

.tie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    background-color: #808080;
}
